<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <title>Hello World</title>
  </head>
  <body>
    <nav id="nav">
      <ul class="menu">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1 class="blue heading">Hello World</h1>
      <h3 class="description">Server is listening on: http://localhost:4000</h3>
      <h3 class="description">
        Welcome to the server. Unfortunately, this server does nothing😥
      </h3>
      <h3 class="description">But you can make it better😁</h3>
    </div>
    <div class="container">
      <h1 class="heading">Another Section</h1>
    </div>
    <footer id="footer">
      <div id="copyright">
        <p>copryright All right reserved.</p>
      </div>
    </footer>
    <script src="/js/menuScroll.js"></script>
  </body>
</html>
